.Greeting-container {
    min-height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 5% 0;
}

.Greeting {
    font-size: calc(15px + 8vmin);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 200px #1a1918;
    margin: 0 0 0 0;
}
