.Greeting-container {
    min-height: 5vh;
}

.Greeting {
    font-size: calc(20px + 8vmin);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 200px #1a1918;
    margin: 0 0 3% 0;
}
