.Name-container {
    display: flex;
    flex-direction: row;
}

.Name {
    font-size: calc(15px + 8vmin);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 200px #1a1918;
    margin: 0 0 0 0;
}
