.Votd {
 display: flex;
 flex-direction: column;
 align-items: left;
 justify-content: center;
 min-height: 30vh;
 margin: 0 1rem;
 text-align: left;
 animation: verseAnimation 3s ease-in;
}

.Votd-text {
 color: #FFFFFF;
 /* background-color: rgba(255, 255, 255, 0.5); */
 padding: 2%;
 margin: 0 15% 1% 15%;
 font-family: 'Raleway', sans-serif;
 font-size: calc(10px + 3vmin);
 /* text-shadow: 2px 2px 10px #1a1918; */
 text-shadow: 2px 2px 10px #080808;
 background-color: rgba(220,220,220,0.6);
 border-radius: 25px;
 line-height: 1.5;
}

.Votd-ref {
 font-family: 'Roboto', sans-serif;
 font-size: calc(7px + 2vmin);
 opacity: 0.8;
 margin: 0;
 color: #404041;
 background-color: #FFFFFF;
 display: block;
 padding: 0.25rem 0.5rem;
 border-radius: 999px;
 width: max-content;
}


.Votd-ref:hover {
 opacity: 1.0
}

.Votd-url-ref {
 text-decoration: none;
 color: #000000;
 width: max-content
}
